.backgroundOverlay {
    position: relative;
}
.backgroundOverlay::before {
    background-color: rgba(0, 0, 0, .75);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}